@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  /* height: 100vh; */
  /* mobile viewport bug fix */
  max-height: " -webkit-fill-available";
}

html {
  max-height: "-webkit-fill-available";
}

#app-container {
  /* height: 100vh; */
  /* min-height: 100vh; */
  height: 100vh;
  height: "-webkit-fill-available";
}
#page-container {
  max-height: "-webkit-fill-available";
}
