@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    height: 100vh;
    height: -webkit-fill-available;
  }
  #app-container {
    height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
  }
  #page-container {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
  }
}
